bin/
obj/
.vs/
.git/
.github/
**/bin/
**/obj/
**/*.user
**/*.suo
**/*.pdb
**/*.exe
**/*.dll
**/*.cache
**/*.log
**/*.vspscc
**/*.vssscc
**/*.nupkg
**/*.zip
**/*.tar
**/*.gz
**/*.7z
**/*.mdf
**/*.ldf
**/*.db
**/.DS_Store
*.swp
*.sln.docstates
