@model LoginRequestDTO

<form method="post">
	<div class="container border p-4">
		<h2>Login</h2>
		<hr />
		<div class="mb-3">
			<label asp-for="UserName" class="form-label"></label>
			<input asp-for="UserName" class="form-control" />
			<span asp-validation-for="UserName" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Password" class="form-label"></label>
			<input asp-for="Password" class="form-control" type="password" />
			<span asp-validation-for="Password" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-primary">Login</button>

	</div>
</form>