@model RegistrationRequestDTO

<form>
	<div class="container border p-4">
		<h2>Register</h2>
		<hr />
		<div class="mb-3">
			<label asp-for="Name" class="form-label"></label>
			<input asp-for="Name" class="form-control" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Email" class="form-label"></label>
			<input asp-for="Email" class="form-control" type="email" />
			<span asp-validation-for="Email" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Password" class="form-label"></label>
			<input asp-for="Password" class="form-control" type="password" />
			<span asp-validation-for="Password" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="PhoneNumber" class="form-label"></label>
			<input asp-for="PhoneNumber" class="form-control" type="password" />
			<span asp-validation-for="PhoneNumber" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-primary">Register</button>
	</div>
</form>
